html {
    /* background-color: red; */
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    color: white;
  }

  .nd {
    position: absolute;
    background-color: white;
    color: black;
    top: -3%;
    left: -9px;
  }

  #loadingDiv2 {
    position:absolute;
    background-position: center;
    background-size: auto 30%;
    background-repeat: no-repeat;
    top:-5vw;
    left:-5vw;
    width:110vw;
    height:120vh;
    background-color: #333;
  }

  #loadingDiv2 {
    background-image: url('Loading-Animation-V2_noDither.gif');
  }
  
  .loader {
    display: none;
  }
  
  .gif {
    position: relative;
    height: 100vh;
    background-color: #333;
  }

body {
    font-family: Verdana, sans-serif;
}

  .main {
    margin-left: -2.5%;
    overflow-x: hidden;
    width: 105%;
    height: 110%;
    z-index: 10;
    /* background-color: rgba(255, 0, 0, 0.548); */
    /*position: relative;
    top: -400px;
    this makes it not take so much scrolling in the beginning but that seems intentional?
    */
  }

  .scroll-element {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 166, 0, 0.473); */
    /*
    position: relative;
    top: -5%;
    this makes it higher but on full screen in chrome on my mac it causes a gap at the bottom
    */
}

#blastoff {
    overflow: visible;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 0, 0.466); */
}

.ffwarning {
    background-color: #ffffff;
    width: 300px;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 1000;
    border: black solid 2px;
}
  
.ffwarning p {
    padding: 15px 20px;
}

.shh {
    position: absolute;
    top: 0%;
    height: 120%;
    width: 100%;
    z-index: -100;
    /* background-color: rgba(0, 128, 0, 0.507); */
    /* background-color: rgba(0, 255, 255, 0.377); */
}

.rsaucebox {
    position: fixed;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    /* top: 1150vh; */
    top: 0%;
    width: 100vw;
    z-index: -10;
    margin: 0 auto;
    /* background-color: purple; */
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* background-color: rgba(0, 0, 255, 0.363); */
  }
  
  .rsaucebox::-webkit-scrollbar {
    width: 0 !important;
  }

  /*--------------------------------------------
LANDING PAGE
---------------------------------------------*/
.spacing {
    height: 500px;
  }
  
  a {
    text-decoration: none;
  }
  
  .landing-entry {
    position: relative;
    width: 100%;
    height: 851px;
    left: 0px;
    top: 0px;
    background: #292929;
  }
  
  .image-holder {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .star-1 {
    width: 150px;
    height: 150px;
    left: 456px;
    top: 94px;
    animation: blink 10s linear infinite;
  }
  
  .star-2 {
    width: 150px;
    height: 150px;
    left: 737px;
    top: 10px;
    animation: blink 8s linear infinite;
  }
  
  .star-3 {
    width: 100px;
    height: 100px;
    left: 946px;
    top: 194px;
    animation: blink 15s linear infinite;
  }
  
  .star-4 {
    width: 200px;
    height: 200px;
    left: 1190px;
    top: 69px;
    animation: blink 18s linear infinite;
  }
  
  .star-5 {
    width: 250px;
    height: 250px;
    left: 814px;
    top: 355px;
    animation: blink 20s linear infinite;
  }
  
  .star-6 {
    width: 300px;
    height: 300px;
    left: 1140px;
    top: 497px;
    animation: blink 9s linear infinite;
  }
  @keyframes blink {
    0% {opacity: .5;}
    5% {opacity: 1;}
  }
  
  .entry-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 609px;
    height: 208px;
    left: 128px;
    top: 515px;
  }
  
  .heading {
    /* font-family: Interstate;
    font-style: normal;
    font-weight: bold; */
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
  
  .white {
    color: #f9f9f9;
  }
  
  .entry-p {
    position: static;
    width: 609px;
    height: 128px;
    top: 80px;
    /* font-family: Museo Sans;
    font-style: normal;
    font-weight: normal; */
    font-size: 24px;
    line-height: 32px;
  }
  
  .landing-main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 128px;
    position: absolute;
    width: 100%;
    height: 926px;
    left: 0px;
    top: 851px;
    background: #f2f1ed;
  }
  
  .landing-heading {
    display: flex;
    flex-direction: column;
    position: static;
    width: 560px;
    height: 336px;
    left: 128px;
    top: 128px;
  }
  
  .red {
    color: #ff2800;
  }
  
  .landing-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 560px;
    height: 670px;
    left: 752px;
    top: 128px;
  }
  
  .vl {
    position: relative;
    background: #ff2800;
    height: 584px;
    width: 2.52px;
    left: 0.43%;
    top: 0px;
    flex: none;
    order: 0;
  }
  
  .landing-text {
    position: absolute;
    width: 523.68px;
    height: 584px;
    left: calc(50% - 523.68px/2 + 18.16px);
    top: 0px;
    /* font-style: normal; */
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    flex: none;
    order: 1;
    margin-bottom: 32px;
  }
  
  .landing-text p {
    margin-top: 0px;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 5px;
    /* font-family: Museo Sans; */
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #f9f9f9;
  }
  
  a.return-btn { 
    position: absolute;
    /* width: 238px;
    height: 54px; */
    left: calc(50% - 238px/2 - 161px);
    top: 616px;
    background: #cc2000;
    flex: none;
    order: 3;
    margin: 64px 0 32px;
    /* ^^^should just be 32 after real font added */
  }
  
  .landing-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 128px;
    position: absolute;
    width: 100%;
    height: 682px;
    left: 0px;
    top: 1777px;
    background: #292929;
  }
  
  .projects-heading {
    position: static;
    width: 1184px;
    height: 48px;
    margin: 32px 0px;
  }
  
  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1184px;
    height: 260px;
    left: 128px;
    top: 208px;
    margin: 32px 0px;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 352px;
    height: 260px;
    flex: none;
    border-radius: 5px;
  }
  
  .project-one {
    background: url(hele-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
  }
  
  .project-two {
    background: url(hele-2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 415px;
    margin: 0px 64px;
  }
  
  .project-three {
    background: url(hele-3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 832px;
  }
  
  .project-title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 352px;
    height: 60px;
    left: 0px;
    top: 200px;
    background: rgba(249, 249, 249, 0.5);
    border-radius: 5px;
    flex: none;
    order: 1;
  }
  
  .project-title {
    position: static;
    /* font-family: Museo Sans; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 8px 8px 4px;
    color: rgba(0, 0, 0, 0.9);
  }
  
  .project-client {
    position: static;
      /* font-family: Museo Sans; */
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.75);
    margin: 0px 8px;
  }
  
  a.projects-btn {
    border: 3px solid #ff2800;
    box-sizing: border-box;
  }