

/* The container for all images
 Fixed positioned, so it won't be affected by default scroll
 It will be moved using `transform`, to achieve a custom scroll behavior*/
 .exhaust-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/*Styles for image elements
Mainly positioning and background styles

% used instead of vh for mobile handling
theory. The OG code used 'vh' to set height
and had to implement a 'vh-fix' to deal
with the mobile bouce from the url bar
hiding feature*/
.exhaust-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
