html, body {
margin: 0%;
padding: 0%;
background-color: #292929;
}

body {
  overflow-x: hidden;
}
.uwu {
    display: initial;
    overflow-x: hidden;
    position: absolute;
    top: 0%;
    left: -5px;
    height: 2300px;
    width: 101%;
    /* background-color: rgba(41, 43, 155, 0.384); */
}
.canvasbox-16 {
    position: relative;
width: 100%;
height: 3300px;
top: 0%;
z-index: 100;
overflow-x: hidden;
/* background-color: rgba(172, 182, 29, 0.925); */
}

.blastoff-smol {
  width: 100%;
top: -56%;
  z-index: 1000;
  position: absolute;
}

.sad {
    height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
    position: absolute;
    z-index: -100;
    background-color: #29292952;
    height: 3000px;
    width: 101%;
    left: -1%;
    top: -2%;
}

.cry {
    position: absolute;
    z-index: 0;
    top: 2000px;
    left: -5px;
    height: 800px;
    width: 101.5%;
    background-color: rgba(0, 128, 79, 0.253);
}


.rsaucebox {
    position: absolute;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    /* top: 1150vh; */
    top: 3200px;
    left: -5px;
    z-index: -10;
    width: 101.5%;
    margin: 0 auto;
    background-color: purple;
    height: calc(2000px + 228vw);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
  }
  
  .rsaucebox::-webkit-scrollbar {
    width: 0 !important;
  }



/*--------------------------------------------
LANDING PAGE
---------------------------------------------*/
.spacing {
    height: 500px;
  }
  
  a {
    text-decoration: none;
  }
  
  .landing-entry {
    position: relative;
    width: 100%;
    height: 1100px;
    background: #292929;
  }
  
  .image-holder {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .star-1 {
    width: 18vw;
    height: 18vw;
    max-width: 150px;
    max-height: 150px;
    left: 10%;
    top: 124px;
    animation: blink 10s linear infinite;
  }
  
  .star-2 {
    width: 18vw;
    height: 18vw;
    max-width: 150px;
    max-height: 150px;
    left: 50%;
    top: 60px;
    animation: blink 8s linear infinite;
  }
  
  .star-3 {
    width: 11vw;
    height: 11vw;
    max-width: 100px;
    max-height: 100px;
    left: 25%;
    top: 300px;
    animation: blink 15s linear infinite;
  }
  
  .star-4 {
    width: 28vw;
    height: 28vw;
    max-width: 200px;
    max-height: 200px;
    left: 65%;
    top: 200px;
    animation: blink 18s linear infinite;
  }
  
  .star-5 {
    width: 22vw;
    height: 22vw;
    max-width: 250px;
    max-height: 250px;
    left: 55%;
    top: 400px;
    animation: blink 20s linear infinite;
  }
  
  .star-6 {
    width: 35vw;
    height: 35vw;
    max-width: 300px;
    max-height: 300px;
    left: 8%;
    top: 450px;
    animation: blink 9s linear infinite;
  }
  @keyframes blink {
    0% {opacity: .5;}
    5% {opacity: 1;}
  }
  
  .entry-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 84vw;
    left: 8vw;
    top: 644px;
  }
  
  .heading {
    font-family: interstate-mono, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
  
  .white {
    color: #f9f9f9;
  }
  
  .entry-p {
    position: static;
    width: 100%;
    top: 52px;
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 8vw;
  }
  
  .landing-main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: calc(848px + 16vw);
    left: 0px;
    background: #f2f1ed;
    color: black;
  }
  
  .landing-heading {
    display: flex;
    flex-direction: column;
    position: static;
    width: 84vw;
    height: 250x;
    left: 8vw;
    top: 0px;
    margin: 8vw;
  }
  
  .red {
    color: #ff2800;
  }
  
  .landing-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 84vw;
    height: 500px;
    right: 8vw;
    top: calc(350px + 12vw);
  }
  
  .vl {
    position: relative;
    background: #ff2800;
    height: 384px;
    width: 2.52px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
  }
  
  .landing-text {
    position: absolute;
    width: 82vw;
    height: 384px;
    left: calc(50% - 84vw/2 + 18.16px);
    top: 0px;
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    flex: none;
    order: 1;
    margin-bottom: 32px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* background-color: rgba(0, 0, 255, 0.363); */
  }
  
  .landing-text::-webkit-scrollbar {
    width: 0 !important;
  }
  
  .landing-text p {
    position: relative;
    margin-top: 0%;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 5px;
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #f9f9f9;
  }
  
  a.return-btn { 
    position: absolute;
    /* width: 238px;
    height: 54px; */
    left: calc(50% - 40/2 - 161px);
    top: 416px;
    background: #cc2000;
    flex: none;
    order: 3;
  }
  
  .landing-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: calc(212vw + 152px);
    left: 0px;
    background: #292929;
  }
  
  .projects-heading {
    position: static;
    width: 84vw;
    height: 36px;
    margin: 8vw 8vw 0px 8vw;
  }
  
  .heading-3 {
    margin: 0px;
  }
  
  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    position: static;
    width: 84vw;
    height: 196vw;
    left: 8vw;
    top: 208px;
    margin: 32px 8vw;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    height: 60vw;
    width: 84vw;
    flex: none;
    border-radius: 5px;
  }
  
  .project-one {
    background: url(nicholas-brinley.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
  }
  
  .project-two {
    background: url(motion-design.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8vw;
  }
  
  .project-three {
    background: url(electoral-college.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8vw;
  }
  
  .project-title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 80px;
    left: 0px;
    top: calc(60vw - 80px);
    background: rgba(249, 249, 249, 0.5);
    border-radius: 5px;
    flex: none;
    order: 1;
  }
  
  .project-title {
    position: static;
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 8px 8px 4px;
    color: rgba(0, 0, 0, 0.9);
  }
  
  .project-client {
    position: static;
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.75);
    margin: 0px 8px;
  }
  
  a.projects-btn {
    position: absolute;
    top: calc(204vw + 100px);
    border: 3px solid #ff2800;
    box-sizing: border-box;
    margin: 0px 8vw 8vw;
  }
  
  .buffer {
    position: relative;
    width: 100%;
    height: 100px;
    background: #292929;
  }
  
  .alpha {
    display: block;
  }
  
  .bravo, .charlie, .delta, .echo, .foxtrot, .golf, .hotel, .india {
    display: none;
  }
  
  @media only screen and (min-width: 300px) {
    .bravo {
      display: block;
    }
  
    .alpha, .charlie, .delta, .echo, .foxtrot, .golf, .hotel, .india {
      display: none;
    }
  
    .landing-entry {
      height: 975px;
    }
  }
  
  @media only screen and (min-width: 330px) {
    .charlie {
      display: block;
    }
  
    .alpha, .bravo, .delta, .echo, .foxtrot, .golf, .hotel, .india {
      display: none;
    }
  
    .landing-entry {
      height: 925px;
    }
  
    .landing-main-content {
      height: calc(793px + 16vw);
    }
  
    .landing-text-container {
      top: calc(300px + 12vw);
    }
  }
  
  @media only screen and (min-width: 400px) {
    .delta {
      display: block;
    }
  
    .bravo, .alpha, .charlie, .echo, .foxtrot, .golf, .hotel, .india {
      display: none;
    }
  
  .landing-main-content {
    height: calc(745px + 16vw);
  }
  
  .landing-text-container {
    top: calc(250px + 12vw);
  }
  }
  
  @media only screen and (min-width: 500px) {
    .echo {
      display: block;
    }
  
    .bravo, .charlie, .alpha, .delta, .foxtrot, .golf, .hotel, .india {
      display: none;
    }
  
  .heading {
    font-family: interstate-mono, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }
  
  .landing-main-content {
    height: calc(846px + 16vw);
  }
  
  .landing-text-container {
    top: calc(350px + 12vw);
  }
  
  .btn {
    font-size: 22px;
  }
  
  .landing-projects {
    height: calc(95.5vw + 152px);
  }
  
  .project-container {
    height: 71.5vw;
  }
  
  .project {
    height: 34vw;
  }
  
  .project-one, .project-two {
    width: calc(80vw / 2);
  }
  
  .project-two {
    margin-left: 3.5vw;
    margin-top: 0px;
  }
  
  .project-three {
    width: 84vw;
    margin-top: 3.5vw;
  }
  
  .project-title-box {
    top: calc(34vw - 80px);
  }
  
  a.projects-btn {
    position: absolute;
    top: calc(79.5vw + 100px);
    border: 3px solid #ff2800;
    box-sizing: border-box;
    margin: 0px 8vw 8vw;
  }
  
  }
  
  @media only screen and (min-width: 550px) {
    .foxtrot {
      display: block;
    }
  
    .bravo, .charlie, .delta, .alpha, .echo, .golf, .hotel, .india {
      display: none;
    }
  
    .landing-entry {
      height: 950px;
    }
  
    .star-1 {
      width: 15vw;
      height: 15vw;
    }
    
    .star-2 {
      width: 15vw;
      height: 15vw;
    }
    
    .star-3 {
      width: 10vw;
      height: 10vw;
      top: 280px;
    }
    
    .star-4 {
      width: 20vw;
      height: 20vw;
    }
    
    .star-5 {
      width: 18vw;
      height: 18vw;
    }
    
    .star-6 {
      width: 25vw;
      height: 25vw;
    }
  
    .landing-main-content {
      height: calc(796px + 16vw);
    }
  
    .landing-text-container {
      top: calc(300px + 12vw);
    }
  
  }
  
  @media only screen and (min-width: 600px) {
    .golf {
      display: block;
    }
  
    .bravo, .charlie, .delta, .echo, .alpha, .foxtrot, .hotel, .india {
      display: none;
    }
  
    .landing-main-content {
      height: calc(755px + 16vw);
    }
  
    .landing-text-container {
      top: calc(250px + 12vw);
    }
  }
  
  @media only screen and (min-width: 800px) {
    .hotel {
      display: block;
    }
  
    .bravo, .charlie, .delta, .echo, .foxtrot, .alpha, .golf, .india {
      display: none;
    }
  
    .landing-entry {
      height: 920px;
    }
  
    .star-1 {
      width: 10vw;
      height: 10vw;
      top: 350px;
    }
  
    .star-2 {
      width: 10vw;
      height: 10vw;
      top: 80px;
    }
  
    .star-3 {
      width: 8vw;
    height: 8vw;
      left: 35%;
      top: 280px;
    }
  
    .star-4 {
      width: 18vw;
    height: 18vw;
      left: 70%;
      top: 230px;
    }
  
    .star-5 {
      width: 15vw;
    height: 15vw;
      left: 38%;
      top: 450px;
    }
  
    .star-6 {
      width: 20vw;
    height: 20vw;
      left: 75%;
      top: 497px;
    }  
  
    .landing-main-content {
      height: calc(690px + 16vw);
    }
  
    .landing-text-container {
      top: calc(180px + 12vw);
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .india {
      display: block;
    }
  
    .bravo, .charlie, .delta, .echo, .foxtrot, .golf, .alpha, .hotel {
      display: none;
    }
  
    .star-1 {
      width: 10vw;
      height: 10vw;
      left: 18%;
      top: 94px;
    }
  
    .star-2 {
      left: 38%;
      top: 40px;
    }
  
    .star-3 {
      width: 8vw;
      height: 8vw;
      left: 62%;
      top: 194px;
    }
  
    .star-4 {
      width: 15vw;
      height: 15vw;
      left: 80%;
      top: 69px;
    }
  
    .star-5 {
      width: 20vw;
      height: 20vw;
      left: 48%;
      top: 355px;
    }
  
    .star-6 {
      width: 25vw;
      height: 25vw;
      left: 75%;
      top: 497px;
    }
  
    .entry-text {
      width: 50vw;
      top: 515px;
    }
    
    .heading {
      font-size: 40px;
      line-height: 48px;
    }
  
    .entry-p {
      font-size: 24px;
      line-height: 32px;
      width: 50vw;
      top: 80px;
    }
  
    .landing-heading {
      width: 40vw;
      height: 500px;
      top: 128px;
    }
  
    .landing-text-container {
      width: 40vw;
      height: 670px;
      top: 8vw;
    }
  
    .vl {
      height: 584px;
    }
  
    .landing-text {
      width: 38vw;
      height: 584px;
      left: calc(50% - 40vw/2 + 18.16px);
      font-size: 20px;
      line-height: 28px;
    }
  
    a.return-btn { 
      top: 616px;
    }
  
    .landing-projects {
      height: calc(36vw + 202px);
    }
  
    .projects-heading {
      height: 48px;
      margin: 8vw 8vw 32px 8vw;
    }
  
    .project-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: nowrap;
      padding: 0px;
      position: static;
      width: 84vw;
      height: 20vw;
      left: 8vw;
      top: 208px;
      margin: 32px 8vw;
    }
  
    .project {
      width: calc(76vw / 3);
      height: 20vw;
    }
  
    .project-two {
      margin: 0px 3.5vw;
    }
  
    .project-three {
      margin-top: 0px;
    }
  
    .project-title-box {
      width: calc(76vw / 3);
      height: 75px;
      top: calc(20vw - 75px);
    }
  
    a.projects-btn {
      position: absolute;
      top: calc(28vw + 144px);
      border: 3px solid #ff2800;
      box-sizing: border-box;
      margin: 0px 8vw 8vw;
    }
  }
  
  @media only screen and (min-width: 1250px) {
    .project-title-box {
      height: 60px;
      top: calc(20vw - 60px);
    }
  
    .buffer {display: none;}
  }

/*===========================================
    LOADING GIF STUFF
============================================*/
#loadingDiv2 {
  position:fixed;
  background-position: center;
  background-size: auto 30%;
  background-repeat: no-repeat;
  top:0px;
  left:-5vw;
  width:110vw;
  height:120%;
  background-color: #333;
  background-image: url('Loading-Animation-V2_noDither.gif');
}

.loader {
  display: none;
}

.gif {
  position: relative;
  height: 100%;
  background-color: #333;
}