// The container for all images
.exhaust-box {
  // Fixed positioned, so it won't be affected by default scroll
  // It will be moved using `transform`, to achieve a custom scroll behavior
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}

/*Styles for image elements
Mainly positioning and background styles

% used instead of vh for mobile handling
theory. The OG code used 'vh' to set height
and had to implement a 'vh-fix' to deal
with the mobile bouce from the url bar
hiding feature*/
.exhaust-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;


  /* Set each `background-image` using a SCSS `for` loop */
  @for $i from 1 through 192 {
    &:nth-child(#{$i}) {
      background-image: url('./Exhaust-Sequence');
    }
  }
}
